/bin
/tanuki-/tanuki-.sdf
/tanuki-/.vs
/tanuki-/Debug
/tanuki-/ipch
/tanuki-/x64
/tanuki-/tanuki-/x64
/tanuki-/tanuki-/tanuki-.vsxproj.user
/tanuki-/tanuki-lib/x64
/tanuki-/tanuki-lib/tanuki-.vsxproj.user
/tanuki-/tanuki-test/x64
/tanuki-/tanuki-test/tanuki-.vsxproj.user
/tanuki-/tanuki-/tanuki-.vcxproj.user
/tanuki-/tanuki-lib/tanuki-lib.vcxproj.user
/tanuki-/tanuki-test/tanuki-test.vcxproj.user
/external/googletest
